.but {
    &__button {
        padding: 11px 24px;
        // background-color: #1db954;
        // border: 2px solid #1db954;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 20px;
        color: white;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background-color: white;
            color: black
        }
    }
}