@import '../../ui/themes/mixins';

:host {
    display: block;
    height: 100vh;
}

.app__container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 15px;
    gap: 15px;
    box-sizing: border-box;

    @include md-max {
        flex-direction: column;
        padding: 0px;
        gap: 0px;
    }

}

.app__nav-container {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-gray, #181818);
    border-radius: 12px;
    flex-shrink: 0;
    order: 1;

    @include md-max {
        order: 2;
    }
}

.app_nav {
    height: 100%;

    @include md-max {
        height: auto;
    }
}

.app__nav a {
    color: var(--text-color, #fff);
    text-decoration: none;
    font-weight: 500;
}

.app__nav a.active {
    color: var(--primary-color, #1DB954);
}

.app__main-container {
    flex: 1;
    border-radius: 12px;
    padding: 25px;
    overflow-y: auto;
    box-sizing: border-box;
    background: linear-gradient(to top, #000000, var(--main-bg, #121212));
    order: 2;

    scroll-behavior: smooth;

    @include md-max {
        order: 1;
    }
}


/* Webkit browsers */
.app__main-container::-webkit-scrollbar {
    width: 8px;
    /* scrollbar width */
}

.app__main-container::-webkit-scrollbar-track {
    background: transparent;
    /* so it follows the rounded container */
    border-radius: 12px;
}

.app__main-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 2px solid transparent;
    /* creates spacing inside track */
    background-clip: content-box;
    /* ensures thumb respects border-radius */
}

.app__main-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Firefox */
.app__main-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}