<!-- <div class="app__container">
    <div class="app__nav-container">
        <app-nav-bar class="app__nav">
            <a routerLink="/profile" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Profile</a><br>
            <a routerLink="/recently-played" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Recently
                Played</a>
        </app-nav-bar>
    </div>
    <main class="app__main-container">
        <router-outlet></router-outlet>
    </main>
</div> -->

<div class="app__container">
    <nav class="app__nav-container">
        <app-nav-bar class="app__nav">
        </app-nav-bar>
    </nav>

    <main #scrollContainer class="app__main-container">
        <router-outlet></router-outlet>
    </main>
</div>