.nav {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-gray);
    gap: 20px;
    border-radius: 8px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex: 1
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
}