@import '../../../ui/themes/mixins.scss';

:host {
    display: flex;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-gray);
    gap: 20px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    @include md-max {
        flex-direction: row;
        width: 100%;
        gap: 0;
        height: 70px;
    }



    &__github-logo {
        padding: 15px;
        width: 40px;

    }

    &__spotify-logo {
        width: 60px;
        padding: 15px;


    }

    &__github-logo,
    &__spotify-logo {
        cursor: pointer;

        @include md-max {
            display: none;
        }
    }
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: auto;
    width: 100%;

    @include md-max {
        flex-direction: row;
        height: 100%;

        li {
            flex: 1 1 auto;
        }
    }
}