/* You can add global styles to this file, and also import other style files */
@import './app/ui/themes/theme.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'SpotifyCircular', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

.profile-image {
    border-radius: var(--user-image-border-radius, 50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: var(--user-image-size, 230px);
    height: var(--user-image-size, 230px);
    object-fit: cover;
}